version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
      - media:/app/media
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - DATABASE_URL=postgresql://county_navigator_user:password@db:5432/county_navigator
    depends_on:
      - db
    command: gunicorn --bind 0.0.0.0:8000 CountyNavigator.wsgi:application

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=county_navigator
      - POSTGRES_USER=county_navigator_user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  staticfiles:
  media:
